# Dependencies
/node_modules

# Build output
/dist

# Environment variables
.env

# Prisma
/prisma/migrations
*.db
*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs

# Temp files
/temp

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
